html {background-color: #abf7b1;}
img {border-radius: 30%;}
h1 {font-style: italic;}
nav {font-weight:lighter}
div {float:left;}
img {width:150px ;height: 200px;}
main {padding: 10px;}
body {margin-left: 40px;}
div {border-width: 2px;}
div {border-color:blue}
div {border-style: outset;}